	<div class="container">
			<!--Header of the page -->
		<!--<div class="row">-->
		<!--	<div class="col-md-12 header_divbg">-->
		<!--		<h1 class="header_h1">Contact Details</h1>-->
		<!--	</div>-->
		<!--</div>-->
		
		<div class="row well well-sm bg-white">

				<!--<legend class="text-center header">Locations and Hours</legend>-->
					<div class="col-md-12">
                        <center>
                            <h2 style="color:green">Our Location Information</h2>
                          	<hr style="background-color:#000;" !important/>
                        </center>
                    </div>
                    
					<div class="col-md-12">
						<div class="row">
								
							<div class="col-md-4">
								<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<div class="col-md-8"><font style="font-size:18px">Chicago Location</font>
										</div>
									</div>
								</div>
								<div class="panel-body">
							<div class="row">
								<div class="col-md-12">
									<p class="contact_p">
										925 W Chicago Ave #1<br/> 
										Chicago, IL 60642<br />
										<i class="fa fa-phone"></i> 312.738.2427<br/>
										<a href="mailto:info@prolinechicago.com" target="_blank">info@prolinechicago.com</a><br />
									</p>
									<br/>
										<a href="http://goo.gl/dx2dd" target="_blank">
												<input type="button" class="btn btn-primary btn-sm" value="Get Direction" />
										</a>
									<br/><br />
									<p class="contact_p"> HOURS:<br />
									Monday 9 AM - 9 PM <br /> 
									Tuesday 9 AM - 9 PM <br />
									Wednesday 9 AM - 9 PM <br />
									Thursday 9 AM - 7 PM <br />
									Friday 10 AM - 7 PM <br />
									Saturday 9 AM - 8PM <br />
									Sunday 9 AM - 7 PM<br />
									</p>
									
								</div>
							</div>
						</div>
							</div>
							</div>
							
							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-9"><font style="font-size:18px">Glenview Location</font>
											</div>
										</div>
									</div>
									<div class="panel-body">
								<div class="row">
									<div class="col-md-12">
										<p class="contact_p">
											771 W Milwaukee Ave<br />
											Glenview, IL 60025<br />
											<i class="fa fa-phone"></i> 847.904.2705<br/>
											<a href="mailto:info@prolinechicago.com" target="_blank">info@prolinechicago.com</a><br />
											</p><br />
											<a href="http://goo.gl/LGEZKH" target="_blank">
												<input type="button" class="btn btn-primary btn-sm" value="Get Direction" />
											</a><br /><br />
										
										<p class="contact_p"> HOURS:<br/>
											Monday 10 AM - 8 PM <br /> 
											Tuesday 10 AM - 8 PM <br />
											Wednesday 10 AM - 8 PM <br />
											Thursday 10 AM - 8 PM <br />
											Friday 10 AM - 8 PM <br />
											Saturday 9 AM - 7PM <br />
											Sunday 11 AM - 5 PM<br />
										</p>
										
									</div>
								</div>
							</div>
						</div>
							</div>
						
							<div class="col-md-4">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-9"><font style="font-size:18px">Contact Us</font>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<div class="row">
											<div class="col-md-12">
												<form ng-submit="submitform(contactform)" name="contactform" class="form-horizontal" role="form">
							<fieldset>
								<div class="form-group">
									<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
									<div class="col-md-8">
										<input ng-model="formData.fname" type="text" class="form-control" ng-class="{ 'has-error' : contactForm.fname.$invalid && !contactForm.fname.$pristine }" id="fname" name="fname" placeholder="First Name" required>
									</div>
								</div>
								<div class="form-group">
									<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
									<div class="col-md-8">
										<input ng-model="formData.lname" type="text" class="form-control"  ng-class="{ 'has-error' : contactForm.lname.$invalid && !contactForm.lname.$pristine }" id="lname" name="lname" placeholder="Last Name" required>
									</div>
								</div>

								<div class="form-group">
									<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
									<div class="col-md-8">
										<input ng-model="formData.inputEmail" type="email" class="form-control"  ng-class="{ 'has-error' : contactForm.inputEmail.$invalid && !contactForm.inputEmail.$pristine }" id="inputEmail" name="inputEmail" placeholder="Your Email" required>
									</div>
								</div>

								<div class="form-group">
									<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
									<div class="col-md-8">
										<input id="phone" ng-model="formData.phone" name="phone" type="text" placeholder="Phone" class="form-control">
									</div>
								</div>

								<div class="form-group">
									<span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
									<div class="col-md-8">
										<textarea ng-model="formData.inputMessage" class="form-control" ng-class="{ 'has-error' : contactForm.inputMessage.$invalid && !contactForm.inputMessage.$pristine }" rows="4" id="inputMessage" name="inputMessage" placeholder="Enter your massage for us here. We will get back to you within 2 business days." required></textarea>
									</div>
								</div>

								<div class="form-group">
									<div class="col-md-12 text-center">
										
										<button type="submit" class="btn btn-primary btn-sm" ng-disabled="submitButtonDisabled">
	 	                                   Send Message
	    	                            </button>

										<!--<button type="submit" class="btn btn-primary btn-sm">Submit</button>-->
									</div>
								</div>
							</fieldset>
						</form>
												<p ng-class="result" style="padding: 15px; margin: 0;">{{ resultMessage }}</p>
												</div>
				
										</div>
									</div>
								</div>
							</div>
						
						
						</div>
					</div>
				
			
			
			
		<!--and well-->
		
		</div>
	
	</div>
	<style>
		.header {
			color: #571400;
			font-size: 27px;
			padding: 10px;
		}
		.bigicon {
			font-size: 15px;
		}
	</style>