<!-- Marketing Icons Section -->
<div class="row">
    <div class="col-lg-12">
        <center style="margin-top:60px">
            <img src="http://s3.amazonaws.com/prod.word/images/562/original.png?1358213619" alt="process flow" />
        </center>
    </div>
    <div class="col-lg-12">
        <center style="margin-top:60px">
            <h2 style="color:green">Get a {{pagename}} today!</h2>
        </center>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4><i class=""><img src="https://fabrica-production.s3.amazonaws.com/proline-golf/item/2120/image/thumb_mizuno-rb-logo-square.jpg" /></i></h4>
            </div>
            <div class="panel-body">
                <p>The shaft is arguably the most important component of the golf club. Mizuno's shaft optimization software removes the guesswork of shaft-fitting by using state-of-the-art technology to recommend shafts based upon unique characteristics of the swing such as tempo, speed, kick-angle, and release factor.</p>
                <a href="#" class="btn btn-warning">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4><i class=""><img src="https://fabrica-production.s3.amazonaws.com/proline-golf/item/2121/image/thumb_ping-nflight-logo.jpg" /></i></h4>
            </div>
            <div class="panel-body">
                <p>Developed by the industry leader and pioneer in golf club customization, Ping's nFlight fitting software digitally analyzes every aspect of the golf shot to create an extremely accurate and in-depth fitting experience.</p>
                <a href="#" class="btn btn-info">Learn More</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h4><i class=""><img src="https://fabrica-production.s3.amazonaws.com/proline-golf/item/2121/image/thumb_ping-nflight-logo.jpg" /></i></h4>
            </div>
            <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                <a href="#" class="btn btn-warning">Learn More</a>
            </div>
        </div>
    </div>
</div>
<!-- /.row -->