<div id="footer-container" class=" footerbg">
            <div class="row">
        <div class="col-md-12">


                <section id="first-footer">
                    <div class="col-md-4">
                        <a href="http://www.facebook.com/pages/Proline-Golf-Chicago/164599066898048" target="_blank"> <img class="footer-facebook" src="assets/images/img_trans.gif">
                        </a>
                        <a href="http://twitter.com/prolinechicago" target="_blank"><img class="footer-twitter" src="assets/images/img_trans.gif">
                        </a>
                        <a href="http://www.yelp.com/biz/proline-golf-chicago" target="_blank"><img class="footer-yelp" src="assets/images/img_trans.gif">
                        </a>
                    </div>
                </section>
                <section id="second-footer">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-4">
                                <img width="100%" src="assets/images/affiliations/pga_logo.png"></img>
                            </div>
                            <div class="col-md-4">
                                <img width="100%" src="assets/images/affiliations/bbb_logo.png"></img>
                            </div>
                            <div class="col-md-4">
                                <img width="100%" src="assets/images/affiliations/pga_logo.png"></img>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="third-footer">
                    <!--<div class="col-md-4">-->
                    <!--    <pre>-->
                    <!--    ---->
                    <!--</pre>-->
                    <!--</div>        -->
                </section>
            </div>
        </div>
        <br/>
        <br/>        <br/>
        <br/>
                    <section class="fourth-footer">
                <div class="col-md-12">
                    <center>Copyright 2015⋅ All rights reserved</center>
                </div>
            </section>
    </div> 
