<div id="footer-container" class=" footerbg">
    <div class="row">
        <div class="col-sm-12">
            
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <section id="first-footer">
                    <a href="http://www.facebook.com/pages/Proline-Golf-Chicago/164599066898048"> <img class="footer-facebook" src="assets/images/img_trans.gif">
                    </a>
                    <a href="http://twitter.com/prolinechicago" target="_blank"><img class="footer-twitter" src="assets/images/img_trans.gif">
                    </a>
                    <a href="http://www.yelp.com/biz/proline-golf-chicago" target="_blank"><img class="footer-yelp" src="assets/images/img_trans.gif">
                    </a>
                </section>
            </div>
            <div class="col-sm-4">
                <section id="second-footer">
                    <ul style="list-style-type:none;">
                        <li><u>Site Map</u></li>
                        <li>
                            <a ng-href="#!/home" ng-class="{active:isActive('/home')}"> Home</a>
                        </li>
                        <li>
                            <a ng-href="#!/instructors" ng-class="{active:isActive('/instructors')}"> Instructors</a>
                        </li>
                        <li>
                            <a ng-href="#!/club-fitting" ng-class="{active:isActive('/club-fitting')}"> Club Fitting & Repair</a>
                        </li>
                        <li>
                            <a ng-href="#!/custom-products" ng-class="{active:isActive('/custom-products')}"> Custom Gear</a>
                        </li>
                        <li>
                            <a ng-href="#!/simulators" ng-class="{active:isActive('/simulators')}"> Simulators</a>
                        </li>
                        <li>
                            <a ng-href="#!/contact" ng-class="{active:isActive('/contact')}"> Contact</a>
                        </li>
                    </ul>
                </section>
            </div>
            <div class="col-sm-4">
                <section id="third-footer">
                    <button class="btn btn-primary">Book A Lesson Now!</button>
                </section>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <section class="fourth-footer">
                <br/>
                <center>Copyright &#169; 2015 Proline Golf. All Rights Reserved.</center>
            </section>
        </div>
    </div>
</div>