<hr />
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <br/>
            </div>                
        </div>    
        <div class="row">
            <div class="col-sm-4">
                <pre>This is where social media goes</pre>
            </div>
            <div class="col-sm-4">
                Email us at: <a href="mailto:info@prolinechicago.com">info@prolinechicago.com</a>
            </div>
            <div class="col-sm-4">
                <pre>
Chicago Location:
925 W Chicago Ave #1 
Chicago, IL 60642
312.738.2427

Glenview Location:
771 N Milwaukee Ave 
Glenview, IL 60025
847.904.2705
                </pre>
            </div>
        </div>
        <div class="row">  
            <div class="col-xs-12">
                Copyright 2015  ProlineGolf. All rights reserved.	
            </div>
        </div>            
    </div>
</footer>