<!DOCTYPE html>
       
    <!-- <body ng-app="myApp" lateral-slide-menu-controller >
 -->
          <!-- MENU -->

          
          
          <!-- main page -->
          <div class="main-page lateral-slide-menu-main-page">
            <a href="#!/" class="toggle-menu" lateral-slide-menu-toggle></a>
          </div>


        <!-- script -->



<lateral-slide-menu ng-cloak>


        <div id="sidebar-wrapper" style="z-index:15">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <div>
                    <a href="#!/">
                        <font style="font-color:white;font-size:24px"><img src="https://proline-laharshah.c9.io/front_end/app/assets/images/logo.png" alt="logo" width="85%" height="auto" style="background-color:#fff"/></font>
                    </a>
                    </div>
                </li>
              
                <li>
                    <a ng-href="#!/home" ng-class="{active:isActive('/home')}"> Home</a>
				</li>
                <li>
                    <a ng-href="#!/instructors" ng-class="{active:isActive('/instructors')}"> Instructors</a>
                </li>
                <li>
                	<a ng-href="#!/club-fitting" ng-class="{active:isActive('/club-fitting')}"> Club Fitting</a>
                </li>
                <li>
                	<a ng-href="#!/club-repair" ng-class="{active:isActive('/club-repair')}"> Club Repair</a>
                </li>
                <li>
                	<a ng-href="#!/custom-products" ng-class="{active:isActive('/custom-products')}"> Custom Products</a>
                </li>
                <li>
                	<a ng-href="#!/contact" ng-class="{active:isActive('/contact')}"> Contact</a>
                </li>                
                <!--<li>-->
                <!--    <pre>-->
                <!--	    Location 1: -->
                <!--	    925 W Chicago Ave #1-->
                <!--	    Chicago, IL 60642-->
                <!--	    312.738.2427-->
                <!--	    Hours: -->
                <!--	    9am-9pm -->
                <!--	    7days a week-->
                	    
                <!--	    Location 2: -->
                <!--	    771 N Milwaukee Ave-->
                <!--	    Glenview, IL 60025-->
                <!--	    847.904.2705-->
                <!--	    M-F: 10am-8pm-->
                <!--	    S: 10am-7pm-->
                <!--	    Su: 11am-5pm                          -->
                <!--    </pre>-->
                <!--</li>-->
            </ul>
        </div> 


</lateral-slide-menu>
