<div id="sidebar-wrapper" class="navbar-z-index">

    <ul class="sidebar-nav ulbgcolor">
        <li>
            <a ng-href="#!/home" ng-class="{active:isActive('/home')}"> Home</a>
        </li>
        <li>
            <a ng-href="#!/instructors" ng-class="{active:isActive('/instructors')}"> Instructors</a>
        </li>
        <li>
            <a ng-href="#!/club-fitting" ng-class="{active:isActive('/club-fitting')}"> Club Fitting & Repair</a>
        </li>
        <li>
            <a ng-href="#!/custom-products" ng-class="{active:isActive('/custom-products')}"> Custom Gear</a>
        </li>
        <li>
            <a ng-href="#!/simulators" ng-class="{active:isActive('/simulators')}"> Simulators</a>
        </li>
        <li>
            <a ng-href="#!/contact" ng-class="{active:isActive('/contact')}"> Contact</a>
        </li>
        <li class="join_email_li">    
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <a class="pull-left" href="http://www.facebook.com/pages/Proline-Golf-Chicago/164599066898048" target="_blank"> <img class="footer-facebook" src="assets/images/img_trans.gif"></a>
                        <a class="pull-left" href="http://twitter.com/prolinechicago" target="_blank"><img class="footer-twitter" src="assets/images/img_trans.gif"></a>
                        <a class="pull-left" href="http://www.yelp.com/biz/proline-golf-chicago" target="_blank"><img class="footer-yelp" src="assets/images/img_trans.gif"></a>
                    </center>
                </div>
            </div>
        </li>
        <li class="join_email_li">
            <div id="mc_embed_signup">
                <form action="//prolinechicago.us5.list-manage.com/subscribe/post?u=1adc885cfd5118af8fd9c9b46&amp;id=2803cb3faf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    	<label for="mce-EMAIL">Join our mailing List</label>
                    	<input type="email" class="join_email_txtbox form-control" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;"><input type="text" name="b_1adc885cfd5118af8fd9c9b46_2803cb3faf" tabindex="-1" value=""></div>
                        <div class="clear">
                            <input type="submit" class="join_email_btn btn btn-info" value="Join" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
            <dl>
                <dd class="hover-red"><u>Chicago Location:</u>
                </dd>
                <dd class="hover-red">925 W Chicago Ave #1</dd>
                <dd class="hover-red">Chicago, IL 60642</dd>
                <dd class="orange1"><b>312.738.2427</b>
                </dd>
                <dd>
                    <br/>
                </dd>
                <dd class="hover-red"><u>Glenview Location:</u>
                </dd>
                <dd class="hover-red">771 N Milwaukee Ave </dd>
                <dd class="hover-red">Glenview, IL 60025</dd>
                <dd class="orange1"><b>847.904.2705</b>
                </dd>
            </dl>
        </li>
        
    </ul>
    </nav>
</div>
